body{
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-image: url('/images/background/171.jpg');
  }
#topSection{
    height: auto;
    padding: 50px;
    background-color: rgba(255, 0, 0, 0.199);
}
.row{
    display: flex;
    flex-wrap:wrap;
}
button{
    width: 10px;
    cursor: pointer;
}
button, span{
    flex: 1 1 100px;
    height: 50px;
    border:1px solid black;
}
#dealerSection{
    height: auto;
    padding: 50px;
    background-color: rgba(11, 236, 67, 0.219);
}
#playerSection{
    height: auto;
    padding: 50px;
    background-color: rgba(247, 0, 255, 0.185);
}
#bottomSection{
    height: auto;
    padding: 50px;
    background-color: rgba(0, 225, 255, 0.212);
}
button{
    width: 50px;
}