@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

body{
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 90vh;
    background-image: url('/images/background/171.jpg');
  }
#tableBackground{
    background-image: url('/images/background/table.png');
    background-attachment: fixed;
    background-position: center -150px;
    min-height: 95vh;
}
#topSection{
    height: auto;
    padding: 50px;
    padding-top: 0;
    padding-bottom: 25px;
}
button{
    flex: none;
    display: inline-block;
    color: white;
    border: 5px solid rgba(0, 0, 0, 0.253);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
    letter-spacing: 0.1em;
    transition: 0.5s;
    cursor: pointer;
}
.chips {
    position: relative;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    gap: 10px;
}

#playButton {
    background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(2,0,36,1) 96%, rgba(90,90,201,1) 100%);
}
#playButton:hover{
    background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(2,0,36,1) 96%, rgba(90,90,201,1) 100%);
    letter-spacing: 0.15em;
    text-shadow: 3px 3px 3px #000000;
    box-shadow: 0 0 30px rgb(90, 90, 201);
    animation: blinkingBorder 1.5s linear infinite;
}
#restartButton{
    background-color: gray;
    border-radius: 15%;
    width: 150px;
    height: 80px;
}
#restartButton:hover{
    letter-spacing: 0.15em;
    text-shadow: 2px 2px 2px #000000;
    box-shadow: 0 0 30px rgb(125, 125, 126);
    animation: blinkingBorderRestart 3s linear infinite;
}
#hitButton {
    background: radial-gradient(circle, rgba(242,184,184,1) 10%, rgba(249,0,0,1) 56%, rgba(163,62,62,1) 79%);
}
#hitButton:hover{
    letter-spacing: 0.15em;
    text-shadow: 3px 3px 3px #000000;
    box-shadow: 0 0 30px rgb(248, 8, 8);
    animation: blinkingBorderHit 1.5s linear infinite;
}
#standButton {
    background: radial-gradient(circle, rgba(170,200,170,1) 10%, rgba(48,198,43,1) 39%, rgba(52,135,52,1) 68%);
}
#standButton:hover {
    letter-spacing: 0.15em;
    text-shadow: 3px 3px 3px #000000;
    box-shadow: 0 0 30px rgb(68, 241, 0);
    animation: blinkingBorderStand 1.5s linear infinite;
}
#allInButton {
    background: radial-gradient(circle, rgb(255, 0, 0), rgb(255, 238, 0), rgb(0, 238, 255));
    font-size: 1.55em;
    letter-spacing: normal;
    background-size: 200% 200%; /* Enlarged gradient for smooth animation */
    box-shadow: 0 0 10px rgb(251, 255, 0);
}

#allInButton:hover {
    letter-spacing: 0.15em;
    text-shadow: 3px 3px 3px #000000;
    box-shadow: 0 0 30px rgb(251, 255, 0);
    animation: dynamicColorChanging 3s infinite, blinkingBorderAllIn .5s linear infinite;
}
.dealer{
    font-family: "Righteous", sans-serif;
    font-size: 3em;
    width: 50%;
    margin: auto;
}
.cardDisplayPlayer{
    font-family: "Righteous", serif;
    font-size: 1.5em;
    margin-bottom: 0;
}
.cardDisplayDealer{
    font-family: "Righteous", serif;
    font-size: 1.5em;
    margin-bottom: 0;
}
.playerCount{
    font-family: "Righteous", serif;
    font-size: 2em;
}
.dealerCount{
    font-family: "Righteous", serif;
    font-size: 2em;
}
span{
    flex: 1 1 100px;
    height: 50px;
}
.hit{
    margin-left: 50%;
    padding-right: 20px;
}
.play{
    margin: auto;
}
.stand{
    margin-right: 50%;
    padding-left: 20px;
}
.playerOutcome{
    font-family: "Righteous", serif;
    font-size: 6em;
    margin: 0;
}
.dealerOutcome{
    font-family: "Righteous", serif;
    font-size: 6em;
    margin: 0;
}
#dealerSection{
    height: auto;
    color: white;
    
}
#playerSection{
    height: auto;
    color: white;
    
}
#bottomSection{
    display: flex;
    height: auto;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px; 
}
.row{
    flex: 1;
    width: auto;
    align-content: space-between;
}
img{
    width: 120px;
}
/*Modal*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Ensure it's on top of other elements */
}

/* Make backdrop visible */
.backdrop.show {
    visibility: visible;
    opacity: 1; /* Fully opaque */
}

/* Modal content */
.modal {
    font-family: "Righteous", serif;
    font-size: 6em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    background-color: #B22222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1001; /* Ensure it's above the backdrop */
}
.chip {
    height: 130px;
    width: 125px;
    cursor: grab;
    transition: transform 0.2s;
}

.chip:active {
    cursor: grabbing;
}

.drop-zone {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-zone.dragover {
    width: 800px;
    background-color: #e0ffe052;
}
.drops{
    margin: auto;
    height: 250px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.dropZoneText{
    font-family: "Righteous", sans-serif;
    font-size: 3em;
    color: white;
}
.chipValueBet{
    font-family: "Righteous", sans-serif;
    font-size: 3em;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}
.betNumberDisplay {
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Center items vertically */
    position: relative;
    font-family: "Righteous", sans-serif;
    font-size: 3em;
}

.bet {
    flex: 1; /* Pushes the player span to the center */
    text-align: left; /* Align text to the left */
    margin-left: 475px;
}

.playerPlayer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.bankroll {
    font-family: "Righteous", sans-serif;
    font-size: 3em;
    color: white;
    position: absolute;
    left: 400px;
    top: 300px;

}

/*Animations*/
@keyframes blinkingBorder {
    0% {
        border-top-color: rgb(143, 143, 194);
        border-right-color: rgb(133, 133, 190);
        border-bottom-color: rgb(139, 139, 189);
        border-left-color: rgb(141, 141, 194);
    }
    100% {
        border-top-color: rgba(159, 159, 196, 0);
        border-right-color: rgba(159, 159, 196, 0);
        border-bottom-color: rgba(0, 255, 0, 0);
        border-left-color: rgba(159, 159, 196, 0);
    }
}
@keyframes blinkingBorderHit {
    0% {
        border-top-color: rgb(255, 0, 0);
        border-right-color: rgb(255, 0, 0);
        border-bottom-color: rgb(255, 0, 0);
        border-left-color: rgb(255, 0, 0);
    }
    100% {
        border-top-color: rgba(159, 159, 196, 0);
        border-right-color: rgba(159, 159, 196, 0);
        border-bottom-color: rgba(0, 255, 0, 0);
        border-left-color: rgba(159, 159, 196, 0);
    }
}
@keyframes blinkingBorderStand {
    0% {
        border-top-color: rgb(68, 241, 0);
        border-right-color: rgb(68, 241, 0);
        border-bottom-color: rgb(68, 241, 0);
        border-left-color: rgb(68, 241, 0);
    }
    100% {
        border-top-color: rgba(159, 159, 196, 0);
        border-right-color: rgba(159, 159, 196, 0);
        border-bottom-color: rgba(0, 255, 0, 0);
        border-left-color: rgba(159, 159, 196, 0);
    }
}
@keyframes blinkingBorderRestart {
    0% {
        border-top-color: rgb(0, 0, 0);
        border-right-color: rgb(0, 0, 0);
        border-bottom-color: rgb(0, 0, 0);
        border-left-color: rgb(0, 0, 0);
    }
    100% {
        border-top-color: rgba(159, 159, 196, 0);
        border-right-color: rgba(159, 159, 196, 0);
        border-bottom-color: rgba(0, 255, 0, 0);
        border-left-color: rgba(159, 159, 196, 0);
    }
}
@keyframes dynamicColorChanging {
    0% {
        background: red;
        background-position: 50% 50%;
    }
    25% {
        background: lightblue;
        background-position: 75% 25%;
    }
    50% {
        background: greenyellow;
        background-position: 25% 75%;
    }
    75% {
        background: hotpink;
        background-position: 50% 50%;
    }
    100% {
        background: yellow;
        background-position: 50% 50%;
    }
}
@keyframes textGrowAndGlow {
    0%, 100% { 
        font-size: 6em;
        box-shadow: 0 0 25px #FFD700, 0 0 45px #FFD700, 0 0 65px #FFD700; 
    }  
    50% { 
        font-size: 4em; 
        box-shadow: 0 0 10px #FFA500, 0 0 25px #FFA500, 0 0 35px #FFA500;
    }    

}